<html>
    <head>
        <title>Tea Inventory</title>
    </head>

  <body>
    <div style="display: flex; flex-direction: column; ">
        <h2>Post a New Message?</h2>
        <a href="/new" style="background-color: rgb(229, 247, 247); border-radius: 1em; padding: 12px; width: 64px;">Post</a>
    </div>

    
  
  </body>
</html>